@charset "utf-8";

a {
	color: #478903;
	text-decoration: none;
	display: inline;
}

#header img {
	margin: auto;
}
.header h1 {
	font-family: Tahoma, Geneva, sans-serif
}

/*Navigation styling*/
nav {
	position: absolute;
	padding-top: 1.5em;
	padding-bottom: 2.5em;
	top: 64px;
	right: -65px;
	text-align: left;
	width: 1026px;
}
nav li {
	text-decoration: none;
	display: inline;
	clear: both;
    margin-left: 0px;
    margin-bottom: 0.5em;
	margin-right: 8px;
    list-style: none outside none;
    padding: 0.5em 2em 0px 0px;
}

body {
	background:url(../images/bg1.png);
	font-size: 14pt;
	line-height: 1.75em;
	color: #4c4c4c;
}

.current {
	font-weight: bold;
	font-size: 32px;
}

aside {
	float: right;
}

/*Horizontal Row Styling*/
hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 25px 0;
	clear: both;
}

/*Picture Grid Styling*/
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

/*disjoinged rollover styling*/
#container {
	width: 800px;
}

#container div {
	width: 100px;
	height: 120px;
}

/* Below turns off the display of the span tag contents. */

#container a span {display: none;} 


#container a {
    display: block;
	padding: 0 0 75px 100px;
    text-decoration: none;
}

a.thumb1:link {
	background-image: url(../images/WP_001201.jpg);
	background-repeat: no-repeat;
}

a.thumb2:link {
	background-image: url(../images/WP_001195.jpg);
	background-repeat: no-repeat;
}

a.thumb3:link {
	background-image: url(../images/WP_001212.jpg);
	background-repeat: no-repeat;
}

/* Below displays the span tag contents upon hovering over the a tags and positions the span tag contents. */

#container a:hover span {
   display: block;
   position: absolute; 
   top: 115px; 
   left: 200px; 
   z-index: 10;
   color: black;
}

/*Slideshow Styling*/
.container{
	width:540px;
	height:610px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  background: black;
}
.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 5000px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}

/*Footer Styling*/
footer p {
	text-align: center;
}